# Assignment of Data Science

**Introduction**

Data Science languages:
1. R 
2. Python
3. JavaScript
4. SQL

**Libraries for Data Science**
1. NumPy
2. SciKit-Learn
3. Matplotlib 
4. Pandas
5. TensorFlow

**table of Data Science tools**
1. Tableau
2. Google Analytics
3. R (RStudio)
4. BigML
5. Jupyter

**Arithmetic expression examples**
  > 2+2=4

In [15]:
#Program to multiply and add numbers

num1=10
num2=2
num3=num1+num2
num4=num1*num2
print("Sum of Two number===>", num3)
print("Multiplication of Two number===>", num4)

Sum of Two number===> 12
Multiplication of Two number===> 20

In [16]:
# Python Program to Convert Minute to Hour
min = int(input("Enter Minutes :--> "))
print("Hour : Minute :--> ", int(min/60), " : ", min % 60)

Enter Minutes :--> 80
Hour : Minute :-->  1  :  20

** list Objectives**
1. Provide Insights About the Roles of a Data Scientist
2. Enable to Analyze of Big Data
3. Learn Techniques and Tools for Transformation of Data
4. Make You Figure Out Machine Learning Algorithms

## Authorâ€™s name: Dr. Gaurav Sharma